*{
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  body{
    background-color: hsl(0, 0%, 95%);
  }
  
  .container{
    width:55%;
    margin:150px auto;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;  
  }
  
  .container2{
    background-color: #016972;
    width:180px;
    padding:30px;
  }
  
  .container3{
    background-color: #00403F;
     width:180px;
    padding:30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .container1{
    background-color: #E28525;
     width:180px;
    padding:30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .container2 button{
    color: #016972;
  }
  .container1 button{
    color:#E28525;
  }
  .container3 button{
    color: #00403F;
  }
  
  img{
    width:25%;
    margin-bottom:15px;
  }
  
  h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
  }
  
  button{
     background-color: hsl(0, 0%, 95%);
    border-radius:15px;
    border:none;
    margin-top: 30px;
    padding:10px 15px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
  }
  
  
  
  P{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 11px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top:20px;
    margin-bottom: 15px;
  }
  
  button:hover{
    background-color: transparent;
    color: whitesmoke;
    border:2px solid black;
  }
  
  a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    margin:100px;
    color: black;
  }
  
  .containergrid{
    display: grid;
    width:40%;
    height:250px;
    grid-template-areas:"a a a a b b"
      "a a a a b b"
      "e e e c c c"
      "e e e d d d";
    gap:10px;
  }
  
  .itema{
    background-color: red;
    grid-area: a;
  }
  
  .itemb{
    background-color: #3e247b;
    grid-area: b;
  }
  
  .itemc{
   background-color: #fff942;
    grid-area: c; 
  }
  
  .itemd{
   background-color: #fff942;
    grid-area: d; 
  }
  
  .iteme{
   background-color: #157e3a;
    grid-area: e; 
  }
  
  .outer{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  
  
  .cont{
    background-color:#09093e;
  }